#about-wrapper {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  width: 100%;

  .about-content {
    box-shadow: 8px 0 4px 8px $bg;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 20px 0;
    z-index: 1;

    .about-title {
      font-size: 24px;
      font-weight: 600;
    }

    .about-subtitle {
      font-size: 16px;
      font-weight: 600;
      position: relative;
      width: fit-content;

      &::after {
        background-color: $primary;
        border-radius: 100vw;
        bottom: -6px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    .about-description {
      font-size: 16px;
    }
  }

  .section-image {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 5vw;
    box-shadow: inset 20px 0 15px 20px $black;
    flex: 1;
    height: auto;

    @media screen and (max-width: 991px) {
      width: 100%;
      border-radius: 5vw;
    }
  }
}

#tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  width: 100%;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .tab-links {
      align-items: center;
      background-color: transparent;
      border-radius: 100vw;
      border: 2px solid $primary;
      color: $primary;
      cursor: pointer;
      display: flex;
      flex: 1;
      font-size: 16px;
      gap: 10px;
      justify-content: center;
      padding: 8px 10px;
      transition: 0.3s;

      &:hover,
      &.active {
        background-color: $primary;
        border: 2px solid $primaryLight;
        color: $white;
      }

      &.animate {
        animation: pulseTab 3s infinite ease-in-out;
        background-color: $primary;
        border: 2px solid $primaryLight;
        color: $white;
        transition: 0.3s;

        &:hover {
          -webkit-animation: none;
          animation: none;
        }

        @keyframes pulseTab {
          0% {
            opacity: 0.7;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0.7;
          }
        }
      }
    }

    .cv-link {
      align-self: center;
      color: rgba($gray, 0.6);
      flex: 1;
      text-align: right;
      text-decoration: underline;
      text-shadow: 1px 1px $black;
      transition: 0.3s;

      &:hover {
        color: rgba($gray, 1);
      }
    }
  }

  .tab-content {
    border-radius: 20px;
    border: 2px solid $primary;
    padding: 20px;
    flex: 1;
  }
}
