@mixin inputRange {
  -webkit-appearance: none;
  background-color: rgba($primary, 0.4);
  background-repeat: no-repeat;
  border-radius: 0 0 100vw 100vw;
  height: 6px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $white;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    width: 14px;
  }

  &::-moz-range-thumb {
    background: $white;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    width: 14px;
  }

  /** FF*/
  &::-moz-range-progress {
    background-color: rgba($primary, 1);
    height: 6px;
  }
  &::-moz-range-track {
    background-color: rgba($primary, 0.4);
    height: 6px;
  }
  /* IE*/
  &::-ms-fill-lower {
    background-color: rgba($primary, 1);
    height: 6px;
  }
  &::-ms-fill-upper {
    background-color: rgba($primary, 0.4);
    height: 6px;
  }
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    .master-player {
      border-bottom: 0;
      border-radius: 28px 28px 0 0;
    }

    .songs-list {
      opacity: 1;
      visibility: visible;
    }
  }

  .master-player {
    background-color: $black;
    border-radius: 28px;
    border: 2px solid $primary;
    box-shadow: 0 5px 10px 0px rgba($black, 0.8);
    display: flex;
    height: 56px;
    padding-top: 6px;
    position: relative;
    transition: 0.1s;
    width: 100%;

    .progress {
      @include inputRange;
      left: 0;
      margin: 0 20px;
      position: absolute;
      top: 0;
      width: calc(100% - 40px);
    }

    .controls {
      align-items: center;
      display: flex;
      gap: 20px;
      height: 100%;
      padding: 0 20px;
      width: 100%;

      .player-title {
        color: $white;
        font-size: 16px;
      }

      .player-icon,
      .sound-icon,
      .download-icon {
        color: $white;
        cursor: pointer;
        height: 18px;
        transition: 0.3s;
        width: 18px;

        &:hover {
          color: $primary;
        }
      }

      .player-volume {
        align-items: center;
        display: flex;
        gap: 10px;
        margin-left: auto;

        .volume {
          @include inputRange;
          border-radius: 100vw;
          max-width: 100px;
          min-width: 50px;
          width: 100%;
        }
      }

      .download-icon {
        align-items: center;
        display: flex;
        justify-content: center;

        svg {
          height: 14px;
          width: 14px;
        }
      }
    }
  }

  .songs-list {
    background-color: $black;
    border-radius: 0 0 28px 28px;
    border: 2px solid $primary;
    border-top: 0;
    bottom: 0;
    box-shadow: 0 5px 10px 0px rgba($black, 0.8);
    gap: 20px;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    transform: translateY(100%);
    transition: 0.5s;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    .song-item {
      color: $white;
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: $primary;
      }

      &::before {
        background-color: $primary;
        border-radius: 2px;
        content: "";
        height: 2px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: -10px;
        width: 100%;
      }
    }
  }
}
