:root {
  --blob-animation-length: 30s;
  --blob-animation-blob-animation-amount: 2;
}

.blob-wrapper {
  flex: 1;
  margin: auto;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  position: relative;

  @media screen and (max-width: 991px) {
    margin: auto;
    max-width: 380px;
    min-width: none;
    width: 100%;
  }

  .blob {
    animation: blob-turn var(--blob-animation-length) linear infinite;
    fill: $primary;
    margin: auto;
    position: relative;
    transform-origin: center;
    width: 60%;

    @keyframes blob-turn {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .blob-animation {
      animation: blob-skew calc(var(--blob-animation-length) * 0.5) linear 0s infinite;
      transform-origin: center;

      @keyframes blob-skew {
        0% {
          transform: skewY(0deg);
        }
        13% {
          transform: skewY(calc((1.8deg) * var(--blob-animation-amount)));
        }
        18% {
          transform: skewY(calc((2.2deg) * var(--blob-animation-amount)));
        }
        24% {
          transform: skewY(calc((2.48deg) * var(--blob-animation-amount)));
        }
        25% {
          transform: skewY(calc((2.5deg) * var(--blob-animation-amount)));
        }
        26% {
          transform: skewY(calc((2.48deg) * var(--blob-animation-amount)));
        }
        32% {
          transform: skewY(calc((2.2deg) * var(--blob-animation-amount)));
        }
        37% {
          transform: skewY(calc((1.8deg) * var(--blob-animation-amount)));
        }
        50% {
          transform: skewY(0deg);
        }
        63% {
          transform: skewY(calc((-1.8deg) * var(--blob-animation-amount)));
        }
        68% {
          transform: skewY(calc((-2.2deg) * var(--blob-animation-amount)));
        }
        74% {
          transform: skewY(calc((-2.48deg) * var(--blob-animation-amount)));
        }
        75% {
          transform: skewY(calc((-2.5deg) * var(--blob-animation-amount)));
        }
        76% {
          transform: skewY(calc((-2.48deg) * var(--blob-animation-amount)));
        }
        82% {
          transform: skewY(calc((-2.2deg) * var(--blob-animation-amount)));
        }
        87% {
          transform: skewY(calc((-1.8deg) * var(--blob-animation-amount)));
        }
        100% {
          transform: skewY(0deg);
        }
      }

      g {
        animation: blob-scale calc(var(--blob-animation-length, var(--blob-animation-length)) * 0.5) ease-in-out 0s
          infinite;
        transform-origin: center;

        @keyframes blob-scale {
          0% {
            transform: scaleX(0.9) scaleY(1);
          }
          25% {
            transform: scaleX(0.9) scaleY(0.9);
          }
          50% {
            transform: scaleX(1) scaleY(0.9);
          }
          75% {
            transform: scaleX(0.9) scaleY(0.9);
          }
          100% {
            transform: scaleX(0.9) scaleY(1);
          }
        }
      }
    }
  }

  .blob-content {
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;

    path {
      filter: drop-shadow(2px 4px 1px rgba($black, 0.8));
    }
  }
}
