$bg: #1d1f20;
$black: #000000;
$blackTransparent: #00000030;
$gray: #555555;
$primaryBlue: #0066cc;
$white: #cccccc;
$whiteTransparent: #cccccc30;

:export {
  bg: $bg;
  black: $black;
  blackTransparent: $blackTransparent;
  gray: $gray;
  primaryBlue: $primaryBlue;
  white: $white;
  whiteTransparent: $whiteTransparent;
}
