@import "./colors.scss";

#to-top {
  position: fixed;
  right: 1vw;
  bottom: -20vh;
  cursor: pointer;
  font-size: 30pt;
  border-radius: 100%;
  background-color: $bg;
  z-index: 999;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  &.active {
    bottom: 5vh;
  }
}

footer {
  position: relative;
  font-size: 10pt;
  text-align: center;
  padding: 10pt 0;
  -webkit-box-shadow: 0 0 10pt $black;
  box-shadow: 0 0 10pt $black;
  z-index: 1;

  span {
    color: $white;
    font-size: 10pt;
    padding: 10pt 0;
  }
}
