@import "./colors.scss";

#footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 17vw;
  text-align: center;
  width: auto;

  @media screen and (max-width: 991px) {
    margin: 0 40px;
  }

  span {
    color: $white;
    font-size: 10pt;
    padding: 10pt 0;
  }
}
