.landing-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0 10vw;
  position: relative;

  .landing-logo {
    fill: $white;
    left: 50%;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    width: 160px;
    z-index: 2;
  }

  .menu-icon {
    z-index: 2;
  }

  .main-wrapper {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    width: 100%;

    .site-sections {
      -ms-flex-align: start;
      -ms-flex-pack: justify;
      -webkit-box-align: start;
      -webkit-box-pack: justify;
      align-items: flex-start;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      height: auto;
      justify-content: space-between;
      margin: 10vh 20pt 10vh 20pt;
      width: 100%;
      z-index: 2;

      .section-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;

        .title {
          font-family: "Wandertucker", sans-serif;
          font-size: 4em;
        }

        .subtitle {
          color: $gray;
          font-size: 1.2em;
        }

        .section-links {
          align-items: center;
          align-self: center;
          background-color: $primary;
          border-radius: 100vw;
          border: 2px solid $primary;
          color: $bg;
          cursor: pointer;
          display: flex;
          font-weight: 600;
          gap: 20px;
          justify-content: center;
          margin-top: 60px;
          padding: 8px 20px;
          transition: 0.3s;
          width: fit-content;

          &.left {
            flex-direction: row-reverse;

            svg {
              transform: translateX(5px);
              transition: 0.3s;
            }
          }

          &.right {
            flex-direction: row;

            svg {
              transform: translateX(-5px);
              transition: 0.3s;
            }
          }

          &:hover {
            background-color: $primary;
            color: $white;
            fill: $white;

            svg {
              transform: translateX(0px);
            }
          }
        }
      }
    }

    .landing-quote {
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      -webkit-animation: fadeInQuote ease 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation: fadeInQuote ease 3s;
      font-size: 1em;
      font-style: italic;
      text-shadow: 0 0 3px $black;
      z-index: 2;

      @-webkit-keyframes fadeInQuote {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes fadeInQuote {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
