main.home {
  height: 100%;
  margin-top: 80px;
  width: 100%;
}

.hire-me {
  background-color: $bg;
  border-radius: 100vw;
  border: 2px solid $primary;
  cursor: pointer;
  padding: 8px 20px;
  transition: 0.3s;
  width: fit-content;

  &:hover {
    background-color: $primary;
    color: $bg;
  }
}
