@import "./colors.scss";

/* CUSTOM Fonts - START */
@font-face {
  font-family: Wandertucker;
  src: url(../assets/font/Wandertucker.ttf) format("opentype");
}
/* CUSTOM Fonts - END */
* {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

/* Remove Focus Blue Border - START */
:focus {
  outline: none;
}
/* Remove Focus Blue Border - END */

/* Remove Text Selection - START */
*,
input,
button {
  -webkit-tap-highlight-color: transparent;
}
/* Remove Text Selection - END */

/* Remove Default Text Styles - START */
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
span,
a,
li,
.workTitle {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
  color: $white;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
}
/* Remove Default Text Styles - END */

/* Scrollbar */
::-webkit-scrollbar-track {
  border-radius: 0pt;
}

::-webkit-scrollbar {
  width: 5pt;
}

::-webkit-scrollbar-thumb {
  border-radius: 5pt;
}
/* Scrollbar END */

html,
body {
  background-color: $bg;
  margin: 0;
  padding: 0;
  color: $white;
  overflow-x: hidden;
}

main {
  min-height: 84vh;
}

.menu-icon {
  position: absolute;
  top: 25pt;
  right: 5vw;
  width: 30pt;
  font-size: 25pt;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* Main Style - START */
