.menu-icon {
  position: absolute;
  top: 25pt;
  right: 5vw;
  width: 30pt;
  font-size: 25pt;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
