.project-wrapper {
  align-items: flex-start;
  border: 2px solid $primary;
  border-bottom: 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 50px;
  width: 100%;

  &:first-of-type {
    border-top: 0;
  }

  &:nth-child(odd) {
    border-right: 0;
    flex-direction: row-reverse;
  }

  &:nth-child(even) {
    border-left: 0;
    flex-direction: row;
  }

  .vinyl-wrapper {
    align-items: center;
    background-color: rgba($black, 0.3);
    border-radius: 50%;
    box-shadow: 0 5px 10px 0px rgba($black, 0.9);
    display: flex;
    height: 300px;
    justify-content: center;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    width: 300px;

    .vinyl-cover {
      border-radius: 50%;
      height: 150px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      z-index: 1;

      &.animate {
        animation: spinVinyl 20s linear infinite;

        @keyframes spinVinyl {
          0% {
            transform: translate(-50%, -50%) rotate(0deg);
          }
          100% {
            transform: translate(-50%, -50%) rotate(359deg);
          }
        }
      }
    }

    svg {
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
    }
  }

  .artwork-wrapper {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    min-height: 400px;
    min-width: 300px;
    position: relative;
    width: 300px;

    .project-svg {
      display: flex;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .project-monitor-image {
      height: auto;
      margin-bottom: 50px;
      width: 100%;
    }

    .project-phone-image {
      border-radius: 20px;
      height: 100%;
      padding: 5px;
      position: absolute;
      width: auto;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    .content-credits {
      align-items: center;
      display: flex;
      gap: 10px;

      .content-links {
        align-items: flex-end;
        display: flex;
        gap: 10px;

        a {
          color: $primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          opacity: 0.6;
          transition: 0.3s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .content-title {
      font-size: 24px;
      font-weight: 600;
    }

    .links-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      a {
        align-items: center;
        background-color: $bg;
        border-radius: 100vw;
        border: 2px solid $primary;
        color: $primary;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        justify-content: center;
        padding: 8px 16px;
        text-align: center;
        transition: 0.3s;
        white-space: nowrap;
        width: fit-content;

        &:hover {
          background-color: $primary;
          border: 2px solid $primaryLight;
          color: $white;
        }
      }
    }

    .content-description {
      max-height: 200px;
      overflow-y: auto;
      padding-right: 20px;
    }
  }
}
