.typewriter {
  align-items: center;
  display: flex;
  gap: 14px;

  .carrot {
    background-color: $white;
    height: 100%;
    width: 3px;
    -webkit-animation: blinker 1s infinite linear;
    animation: blinker 1s linear infinite;

    @media only screen and (max-width: "991px") {
      width: 2px;
    }

    @-webkit-keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}
