---
import Base from "@layouts/Base.astro";
import Profile from "@components/Profile.astro";
import Skills from "@components/Skills.astro";
import Bio from "@components/Bio.astro";
import Featured from "@components/Featured.astro";
import Experience from "@components/experience/index.astro";
import "@styles/print.scss";
---

<Base>
  <main>
    <div id="a-side" class="column-wrapper">
      <Profile />
      <Bio type="print" />
      <Skills type="desktop" />
    </div>
    <div id="b-side" class="column-wrapper">
      <Bio type="web" />
      <Featured />
      <Experience />
      <Skills type="mobile" />
    </div>
  </main>
</Base>
