---
import {Content as Markdown, frontmatter as content} from '../content/home/bio.md';
import '../assets/styles/bio.scss';
---
<section id="about">
  <h3 class="code">{content.component}</h3>
  <div class="card markdown">
    <Markdown />
  </div>
</section>
