---
import {frontmatter as content} from '../content/home/misc.md';
import '../assets/styles/experience.scss';
---
<section id="experience">
  <h3 class="code">{content.experience.component}</h3>
  <div class="card"></div>
</section>
