---
import { getCollection } from 'astro:content';
import Details from './Details.astro';
import Description from './Description.astro';
import {frontmatter as content} from '../../content/home/misc.md';
import '../../assets/styles/experience.scss';

const jobs = (await getCollection('jobs'))
.sort((jobA, jobB) => new Date(jobB.data.from).getTime() - new Date(jobA.data.from).getTime())
---
<section id="experience">
  <h3 class="code">{content.experience.component}</h3>
  <div class="card jobs-list">
    {jobs.map((job) => (
      <div class="job">
        <Details job={job} />
        <Description job={job} />
      </div>
    ))}
  </div>
</section>
