@use "variables" as *;

#featured {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .project-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: appDimension(tablet)) {
      grid-template-columns: auto;
    }

    .project {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .language {
        align-items: center;
        display: flex;
        font-size: appFontSize(xs);
        gap: 5px;

        &[data-type="web"] {
          display: flex;
        }

        &[data-type="print"] {
          display: none;
        }

        i {
          aspect-ratio: 1;
          background-color: appColor(primary);
          border-radius: 50%;
          height: 8px;
          width: 8px;
        }

        span {
          opacity: 0.6;
        }
      }

      .title {
        font-size: appFontSize(md);
      }

      .description {
        font-size: appFontSize(sm);
        opacity: 0.6;
      }

      .header {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
      }

      .bottom {
        align-items: center;
        display: flex;
        font-size: appFontSize(xs);
        justify-content: space-between;
        margin-top: auto;
        padding-top: 15px;

        .project-link {
          align-items: center;
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
