.modal-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding: 5vw;
  position: relative;
  width: 100%;

  .close {
    background-color: $bg;
    border-radius: 50%;
    border: 2px solid $primary;
    box-shadow: 0 2px 4px $black;
    color: $white;
    cursor: pointer;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 5vw;
    top: 5vw;
    transform: translate(-20px, 20px) scale(1);
    transition: 0.3s;
    width: 20px;

    &:hover {
      transform: translate(-20px, 20px) scale(1.1);
    }
  }
}
