@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import "variables";
@import "utils";

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: appColor(dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: grab;
  background: rgba(appColor(light), 0.1);

  &:hover {
    background: rgba(appColor(light), 0.1);
  }
}

html,
body {
  align-items: center;
  background-color: appColor(dark);
  color: appColor(light);
  display: flex;
  flex-direction: column;
  font-family: appFontFamily(text), Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  height: auto;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;

  body {
    padding: 40px 40px 60px 40px;

    @media screen and (max-width: appDimension(tablet)) {
      padding: 15px 15px 60px 15px;
    }
  }

  main {
    display: grid;
    gap: 30px 15px;
    grid-template-columns: 285px auto;
    max-width: 1040px;
    width: 100%;

    @media screen and (max-width: appDimension(mobile)) {
      grid-template-columns: auto;
    }

    #a-side {
      height: calc(100vh - 80px);
      position: sticky;
      top: 40px;

      @media screen and (max-width: appDimension(mobile)) {
        height: auto;
        position: relative;
        top: auto;
      }
    }

    .column-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
    }
  }

  footer {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: appFontSize(xs);
    height: 60px;
    opacity: 0.2;
    position: absolute;
  }
}
