@import "variables";

#profile {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
  width: 100%;

  @media screen and (max-width: appDimension(mobile)) {
    grid-template-columns: auto auto;
  }

  @media screen and (max-width: appDimension(mini)) {
    grid-template-columns: auto;
  }

  .profile {
    align-self: center;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1pt solid rgba(appColor(light), 0.2);
    height: auto;
    max-width: 260px;
    object-fit: cover;
    object-position: center 30%;
    overflow: hidden;
    width: 100%;

    @media screen and (max-width: appDimension(mobile)) {
      grid-row: 1/3;
      justify-self: flex-end;
      max-width: 200px;
    }

    @media screen and (max-width: appDimension(mini)) {
      grid-row: auto;
      justify-self: center;
    }
  }

  .credentials {
    @media screen and (max-width: appDimension(mobile)) {
      align-self: flex-end;
    }

    @media screen and (max-width: appDimension(mini)) {
      align-self: auto;
    }

    .name {
      font-size: appFontSize(xl);
      font-weight: 400;
    }

    .title {
      font-size: appFontSize(md);
      opacity: 0.6;
    }
  }

  .location {
    align-items: center;
    display: flex;
    font-size: appFontSize(sm);
    gap: 5px;

    @media screen and (max-width: appDimension(mobile)) {
      align-self: flex-start;
      grid-column: 2/3;
      grid-row: 2;
    }

    @media screen and (max-width: appDimension(mini)) {
      align-self: auto;
      grid-column: auto;
      grid-row: auto;
    }

    svg {
      height: 16px;
      width: 16px;
    }

    span {
      opacity: 0.6;
    }
  }

  .call-to-action {
    align-items: center;
    background-color: appColor(primary);
    border-radius: 5px;
    color: appColor(light);
    display: flex;
    justify-content: center;
    padding: 10px;

    @media screen and (max-width: appDimension(mobile)) {
      grid-column: 1/3;
    }

    @media screen and (max-width: appDimension(mini)) {
      grid-column: auto;
    }
  }

  .divider {
    background-color: appColor(light);
    border-radius: 100vw;
    border: none;
    height: 1px;
    opacity: 0.2;
    width: 100%;

    @media screen and (max-width: appDimension(mobile)) {
      grid-column: 1/3;
    }

    @media screen and (max-width: appDimension(mini)) {
      grid-column: auto;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    font-size: appFontSize(sm);
    gap: 10px;

    @media screen and (max-width: appDimension(mobile)) {
      grid-column: 1/3;
    }

    @media screen and (max-width: appDimension(mini)) {
      grid-column: auto;
    }

    .social-item {
      align-items: center;
      color: appColor(light);
      display: flex;
      gap: 10px;
      width: fit-content;

      svg {
        height: 16px;
        width: 16px;
      }

      span {
        opacity: 0.6;
        transition: 0.3s;
      }

      &:hover span {
        opacity: 1;
      }
    }
  }
}
