.rich-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .rich-title {
    &h1 {
      font-size: 28px;
    }

    &h2 {
      font-size: 22px;
    }

    &h3 {
      font-size: 18px;
    }

    &h4 {
      font-size: 16px;
    }

    &h5 {
      font-size: 14px;
    }

    &h6 {
      font-size: 12px;
    }
  }

  .rich-text {
    font-size: 16px;
  }

  .rich-link {
    color: $primary;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  .rich-quote {
    height: fit-content;
    padding: 10px;
    position: relative;

    &::before {
      background-color: $primary;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.6;
      position: absolute;
      top: 0;
      width: 4px;
    }
  }

  .rich-line {
    border-radius: 100vw;
    border: 1px solid $primary;
  }

  .rich-list {
    .rich-list-item {
      align-items: center;
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      margin-left: 10px;

      .rich-list-bullet {
        background-color: $primary;
        border-radius: 50%;
        height: 5px;
        width: 5px;
      }
      .rich-list-index {
        color: $primary;
        font-size: 14px;
      }

      .rich-text,
      .rich-link {
        font-size: 14px;
      }
    }
  }

  .rich-img {
  }

  .rich-video {
  }
}
